@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1.25rem;
  min-height: calc(100vh - 355px);
}

.el-button--primary {
  background-color: #409eff;
}

.el-button--success {
  background-color: #498d3d;
}

.box-shadow-1 {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}

* {
  transition: all 0.2s ease-in-out;
}

.card-header {
  text-transform: uppercase;
  background-color: #1f2d4f;
  font-weight: 700;
  color: white;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1em;
}

.el-radio {
  text-align: center;
}
.el-radio__input {
  display: none;
}

.header::before {
  width: 0.4rem;
  height: 3rem;
  position: absolute;
  top: 45%;
  left: 1.1rem;
  background-color: #172948;
  content: '';
  -webkit-transform: translateY(-50%) skew(-15deg);
  transform: translateY(-50%) skew(-15deg);
}

.card-item {
  border: 1px solid #ededed;
  padding: 0.5em;
  border-radius: 10px;
  margin-bottom: 1em;
  cursor: pointer;
}
